<div class="wrapper app">
  <div class="heading">
    <h3 class="header-title">Your Courses and Articles</h3>
    <button mat-raised-button color="primary">
      Choose Courses and Articles
    </button>
  </div>
  
  <mat-accordion>
    @for (category of categoryDetails; track category.id) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>play_lesson</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            {{category.title}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          @for (categoryItem of category.items; track categoryItem.categoryItemId) {
            <mat-list-item>
              <div matListItemAvatar></div>
              <div matListItemTitle>
                {{categoryItem.categoryItemTitle}}
              </div>
              <div matListItemLine>
                {{categoryItem.categoryItemDescription}}
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          }
        </mat-list>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>