.category-form-container {
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81vh;
    background: linear-gradient(to right, #d8a1dc, #c76b8b);

    .category-form-card {
        max-width: 400px;
        width: 100%;
        padding: 20px;
        border-radius: 8px;
    }
    
    .form-card-header {
        padding-bottom: 16px;
        font-weight: 400;
    }
    
    .full-width {
        width: 100%;
        margin-bottom: 10px;
    }
}

