/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.wrapper{
    height: 100%;
    padding: 20px 50px;
}
.edit-button{
    color: orange !important;
}
.info-button{
    color: black !important;
}
.delete-button{
    color: red !important;
}
.property{
    font-weight: 500;
}
.value{
    margin-bottom: 20px !important;
}
