.contact-us-section {
    margin: 40px 80px;

    h2 {
        text-align: start;
        margin-bottom: 20px;
        color: #9c27b0; // Purple color
    }

    .contact-us-form {
        padding: 0 !important;
        max-width: 600px;
    }   
}
