<div class="wrapper app">
    @if (content) {
    <div class="content-wrapper">
        <div class="text">
            <div [innerHTML]="htmlContent"></div>
        </div>
    </div>
    @if (content.videoLink) {
    <div class="video-wrapper">
        <iframe [src]="videoLink"
            title="What is Open closed Principle ?"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    }}
</div>