<app-navbar></app-navbar>
<div class="home-container">
    <div class="hero-section">
        <h1>Welcome to Digital Library</h1>
        <p>Explore our vast collection of courses and learning materials.</p>
        <button mat-raised-button class="explore-button" color="primary" routerLink="/courses">Explore Courses</button>
    </div>

    <div class="courses-section">
        <h2>Featured Courses</h2>
        <mat-grid-list cols="3" rowHeight="300px">
            @for (course of courses; track $index) {
            <mat-grid-tile>
                <mat-card>
                    <img mat-card-image [src]="course.image" alt="Course">
                    <mat-card-content>
                        <h3>{{ course.title }}</h3>
                        <p>{{ course.description }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">Enroll Now</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            }
        </mat-grid-list>
    </div>

    <div class="about-section">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec tristique mi, non lobortis ligula.</p>
    </div>
</div>
<app-footer></app-footer>