footer {
    background: linear-gradient(to right, #d594b2, #ca47e2); // Light purple gradient
    color: #ffffff; // White color
    padding: 20px;
    font-family: 'Arial', sans-serif;
    position: sticky;
    top: 100vh;
  
    .footer-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
  
      span {
        font-size: 0.9rem;
      }
  
      .spacer {
        flex: 1;
      }
    }

    .follow-us{
      display: flex;
      align-items: center;
    }

    a {
      margin-left: 8px;
      color: #fff;
      text-decoration: none;

      :hover {
        color: #ddd;
      }
    }

    i {
      font-size: 18px;
      margin-left: 10px;
      vertical-align: middle;
    }
  }
  