<div class="home-container">
  <div class="hero-section">
    <h1>Welcome to Digital Library</h1>
    <p>Explore our vast collection of courses and learning materials.</p>
    <button
      mat-raised-button
      class="explore-button"
      color="primary"
      (click)="scrollToFeaturedCourses()"
    >
      Explore Courses
    </button>
  </div>

  <div id="featured-courses" class="courses-section">
    <h2 class="header-title">Featured Courses</h2>
    <mat-grid-list
      cols="4"
      rowHeight="300px"
      gutterSize="16px"
      style="margin: 20px 0px"
    >
      @for (course of courses; track $index) {
      <mat-grid-tile class="grid-tile">
        <mat-card class="card" appearance="outlined">
          <img
            mat-card-image
            [src]="course.thumbnailImagePath"
            [alt]="course.title"
          />
          <mat-card-header>
            <mat-card-title>{{ course.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button color="primary" (click)="cardButtonClick()">
              Register
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      }
    </mat-grid-list>
  </div>

  <mat-divider></mat-divider>
  <app-contact-us></app-contact-us>

  <div class="about-section">
    <h2 class="header-title">About Us</h2>
    <p>
      Welcome to our <span style="color: black;">Digital Library!</span> We are dedicated to making knowledge
      accessible to everyone. Our platform provides a wide range of educational
      resources, from courses to articles, covering various topics to support
      your learning journey. Whether you're a beginner or an advanced learner,
      our digital library is designed to empower you with the resources you
      need, anytime and anywhere.
    </p>
  </div>
</div>
